extends baseEmail

block content
   p Congratulations #{firstName} !,
      p You've won the item you were bidding for.
      p Your checkout link is waiting for you!
      table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
         tbody
            tr
               td(align='left')
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                     tbody
                        tr
                           td
                              a(href=`${url}`, target='_blank') Product page
      p If you need any help, please don't hesitate to contact me!
      p - Filip Brković, CEO