nav.navbar.navbar-expand-md.bg-body.py-3
  .container
    a.navbar-brand.d-flex.align-items-center(href='/')
      span.d-flex.justify-content-center.align-items-center.me-3.bs-icon(style="scale:2")
        img.bi.bi-bezier(src='/products/logo.svg' width='100%' height='100%')
      span Auction house
    button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navcol-2' style='width: 15vw;')
      span.visually-hidden Toggle navigation
      span.navbar-toggler-icon
    #navcol-2.collapse.navbar-collapse
      ul.navbar-nav.ms-auto(style='display: flex; align-items: center')
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item.dropdown
          a.dropdown-toggle.nav-link(aria-expanded='false' data-bs-toggle='dropdown' href='#') Auctions
          .dropdown-menu
            a.dropdown-item(href='#') First Item
            a.dropdown-item(href='#') Second Item
            a.dropdown-item(href='#') Third Item
        li.nav-item
        
        if user
          li.nav-item.dropdown
            a.dropdown-toggle.nav-link(aria-expanded='false' data-bs-toggle='dropdown' href='#') My account
            .dropdown-menu
              a.dropdown-item(href='/me') Profile
              a.dropdown-item(href='/my-products') My products
              .dropdown-divider
              a.dropdown-item.logoutbtn(href='#') Log out
          li.nav-item(style='display: flex; max-width: 3vw;')
            img.rounded-circle.img-fluid(src=`/img/${user.photo === 'default.png' ? user.photo : user.photo }`,)
        
        else
          a.btn.btn-primary.ms-md-2.btn--login(role='button' href='/login') Log in
          a.btn.btn-primary.ms-md-2.btn--signin(role='button' href='/signup') Sign up