doctype html
html
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
            link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
            link(rel='stylesheet', href='assets/fonts/fontawesome5-overrides.min.css')
            link(rel='stylesheet', href='assets/css/Sign-Up-Form---Gabriela-Carvalho.css')
            link(rel='stylesheet', href='assets/css/Articles-Cards-images.css')
            link(rel='stylesheet', href='assets/css/Navbar-Right-Links-icons.css')
            link(rel='stylesheet', href='assets/css/Soft-UI-Aside-Navbar.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            title Auction-App | #{title}


        body(data-alerts=`${alert ? alert : ''}`)
        // HEADER
        include _header

        //CONTENT
        block content 
            h1 This is a placeholder heading

        //FOOTER
        include _footer

            //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')
            script(src='assets/js/bs-init.js')
            script(src='/js/dist/index.js')



