extends base

block content
    section.position-relative.py-4.py-xl-5
        .container
            .row.d-flex.justify-content-center
                .col-md-6.col-xl-4.align-items-center(style='height: 80dvh;')
                    .card.mb-5
                        .card-body.d-flex.flex-column.align-items-center
                            form.text-center.form--reset-password(method='patch', style='border-style: none;')
                                .mb-3
                                    input.form-control(type='password', name='password', id='password' placeholder='New Password')
                                .mb-3
                                    input.form-control(type='password', name='passwordConfirm', id='passwordConfirm' placeholder='Confirm New Password')
                                .mb-3
                                    button.btn.btn-primary.d-block.w-100#resetPasswordBtn(type='submit' data-token=`${token}`) Reset password