.fit-cover {
  object-fit: cover;
}

.navbar-toggler {
  width: 15vw;
}

@media (min-width: 768px) {
  .profile-section {
    display: flex;
  }
}

@media (min-width: 300px) {
  #sidenav-main {
    display: none;
  }
}

@media (min-width: 992px) {
  #sidenav-main {
    display: block;
  }
}

