.fit-cover {
  object-fit: cover;
}

.navbar-toggler {
  width: 15vw;
}

@media (min-width: 768px) {
  .profile-section {
    display: flex;
  }
}

@media (min-width: 300px) {
  #sidenav-main {
    display: none;
  }
}

@media (min-width: 992px) {
  #sidenav-main {
    display: block;
  }
}

@media (min-width: 768px) {
  .product-card {
    width: 100%;
    height: 413.734px;
  }
}

@media (min-width: 300px) {
  .card-flex.websocket-bid {
  }
}

@media (min-width: 300px) {
  .card-flex-col {
    width: 308px;
  }
}

@media (min-width: 300px) {
  .bid-col {
    width: 292px;
  }
}

@media (min-width: 300px) {
  .product-img {
    width: 285px;
    border-radius: 10px;
    margin-bottom: 6px;
  }
}

@media (min-width: 576px) {
  .product-img {
    width: 333px;
  }
}

@media (min-width: 576px) {
  .card-flex-col {
    width: 468px;
  }
}

@media (min-width: 576px) {
  .websocket-background {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .card-flex.websocket-bid {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .bid-col {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .product-col {
    width: 170px;
  }
}

@media (min-width: 768px) {
  .card-flex-col {
    width: 384px;
  }
}

@media (min-width: 992px) {
  .card-flex-col {
    width: 90%;
  }
}

