.none {
  display: none;
}

.product-section {
  display: flex;
  margin-top: 3dvh;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}

.product-container {
  width: 70%;
}

.button-margin {
  margin: 0px;
}

.product-card {
  height: fit-content;
}

@media (min-width: 10px) {
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .product-container {
    width: 100%;
  }
  .bid-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 80;
    margin-left: 2%;
    width: fit-content;
  }
  .product-img {
    width: inherit;
    height: 23dvh;
  }
  .search {
    width: 75vw;
  }
}

@media (min-width: 768px) {
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-container {
    width: 70%;
  }
  .bid-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 80;
    margin-left: 2%;
    width: fit-content;
  }
  .product-col {
    justify-content: center;
  }
  .search {
    width: 60vw;
  }
  .product-img {
    width: min-content;
    height: 23dvh;
  }
}

@media (min-width: 1200px) {
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .product-container {
    width: 70%;
  }
  .bid-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 80;
    margin-left: 2%;
    width: fit-content;
  }
  .product-col {
    display: flex;
    align-items: center;
    height: 30dvh;
    flex: 40;
    width: auto;
  }
  .product-img {
    width: fit-content;
    height: 23dvh;
  }
}

@media (min-width: 1700px) {
  .product-container {
    width: 50%;
  }
}
.card-flex-col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.product-col {
  display: flex;
  align-items: center;
  height: 30dvh;
  flex: 40;
}

.websocket-background {
  margin-bottom: 10px;
  height: 30dvh;
  width: inherit;
  border: 0px solid;
  overflow: scroll;
}

.websocket-bid {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#websocket-form {
  margin: 0;
}

.imessage {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: 'SanFrancisco';
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
  width: auto;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}
p.start-price {
  align-self: flex-start;
  background-color: #f52424;
  color: #fff;
  border-radius: 20px;
  width: fit-content;
  padding: 0px 10px 0px 10px;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^='from-'] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^='from-'].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^='from-'].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

/* general styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}

.comment {
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  max-width: 100%;
  padding: 0;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }
}

@media screen and (max-width: 800px) {
  .imessage p {
    margin: 0.5rem 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.websocket-background::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.websocket-background {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.seller-photo {
  height: 15vh;
}

.seller-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
