.none {
  display: none;
}

.product-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 95vw;
  height: 100dvh;
  margin: 2%;
}

body {
  /* background-color: brown; */
}

.product-card {
  margin: 5%;
  height: 30dvh;
  scale: 1;
}

@media (min-width: 300px) {
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.card-flex-col {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.product-col {
  display: flex;
  align-items: center;
  height: 30dvh;
  flex: 40;
  /* background-color: bisque; */
}

.bid-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 80;
  /* background-color: blueviolet; */
  margin-left: 2%;
  width: 30vw;
}

.product-img {
  width: 20vw;
  height: 23dvh;
}

.websocket-background {
  margin-bottom: 10px;
  height: 30dvh;
  width: inherit;
  /* background-color: chartreuse; */
  border: 0px solid;
  overflow: scroll;
}

.websocket-bid {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#websocket-form {
  margin: 0;
}

.imessage {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: 'SanFrancisco';
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^='from-'] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me ~ p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^='from-'].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^='from-'].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

/* general styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}

.comment {
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  max-width: 100%;
  padding: 0;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }
}

@media screen and (max-width: 800px) {
  .imessage p {
    margin: 0.5rem 0;
  }
}
